---
---
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

/* Colours */

$dark:           		#361C1C;/*background*/
$background-color:	#F0F0E0;/*content panel background*/
$dark-blue:      		#215A6D;
$light-blue:     		#703030;/*title*/
$main-copy:     		#703030;
$light-medium:   		#969696;
$white:          		#FFFFFF;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: $white;
	font-size: 16px;
	height: 100%;
	width: 100%;
	background: url("https://c1.staticflickr.com/5/4058/4250702159_d2d4746fdd_o.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, a:active {
	color: $light-blue;
	text-decoration: none;
}

a:hover {
	color: $dark-blue;
	text-decoration: none;
}

ul {
    list-style-type: none;
}


.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.header {
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-left: -0%;
	width: 100%;

	@media (min-width: $screen-sm-min) {
		font-size: 62px;
		margin-left: -10%;
		width: 120%;
	}
}

.content-panel {
	background-color: $background-color;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-bottom: 5px solid $light-blue;
}

.links {
	margin-top: 50px;
	text-align: center;

	i {
		padding-left: 5px;
		padding-right: 5px;

		@media (min-width: $screen-sm-min) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
		color: #E43737;
	}
}

/* Index */

.index {
	height: 100%;
	max-height: 100%;
	width: 100%;
	padding: 0px;

	@media (min-width: $screen-sm-min) {
		width: 700px;
		max-width:700px;
	}

	.header {
		margin-top: 10px;
		margin-left: 0%;
		margin-bottom: 0px;
		font-size: 32px;
		width: 100%;

		@media (min-width: $screen-lg-min) {
			margin-left: -10%;
			width: 120%;
		}
	}

	.content-panel:nth-of-type(1) {
		border-bottom: 10px solid $light-blue;
	}

	.main-header {
		font-family: 'Abril Fat Face';
		color: $light-blue;
		margin-top: 0px;
		padding-top: 30px;
		font-size: 30px;

		@media (min-width: $screen-sm-min) {
			font-size: 52px;
			margin-top: 0px;
		}

		@media (min-width: $screen-md-min) {
			font-size: 60px;
			margin-top: -20px;
		}
	}

	.row {
		height: 100%;
		max-height: 100%;
		margin-top: 60px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.gravatar {
		width: 100%;
		margin-top: -80px;
		text-align: center;
	}

	.main-copy {
		text-align: center;
		margin-top: 30px;
		color: $main-copy;
	}

	.links {
		font-size: 2em;
	}

	.links {
		a, a:active {
			color: #FFFFFF;
		}
	}

}

.footer {
	width: 100%;
	margin-left: 0%;

	@media (min-width: $screen-sm-min) {
		width: 90%;
		margin-left: 5%;
	}

	@media (min-width: $screen-md-min) {
		width: 80%;
		margin-left: 10%;
	}

	@media (min-width: $screen-lg-min) {
		width: 70%;
		margin-left: 15%;
	}

	div {
		color: $light-medium;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.lang {
	padding-right: 0.3em;
	.flag {
		width: 32px;
		height: 32px;
		background:url(/img/flags.png) no-repeat;
	}

	.flag-it {
		@extend .flag;
		background-position: 0 -32px;
	}

	.flag-en {
		@extend .flag;
		background-position: -32px 0;
	}
}
