<p class="links">
  {% if site.twitter_username %}
    <a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>
  {% endif %}
  {% if site.instagram_username %}
    <a href="http://www.instagram.com/{{ site.instagram_username }}" target="_new"><i class="fa fa-instagram"></i></a>
  {% endif %}
  {% if site.facebook_username %}
    <a href="http://www.facebook.com/{{ site.instagram_username }}" target="_new"><i class="fa fa-facebook"></i></a>
  {% endif %}
</p>
